<!DOCTYPE html>
<html>
  <head>
    <title>BeMyFriend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  </head>
  <header>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
       <nav id='nav-bar'>
         <ul>
           <% if user_signed_in? %>
             <li>
               <%= "Welcome #{current_user.name}" %>
             </li>
             <li>
               <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
             </li>
             <li>
               <%= link_to('Edit registration', edit_user_registration_path) %>
             </li>
             <li>
               <%= link_to("My Profile", current_user) %>
             </li>
               <% else %>
             <li>
               <%= link_to('Login', new_user_session_path)  %>
             </li>
             <li>
               <%= link_to('Register', new_user_registration_path) %>
             </li>
           <% end %>
         </ul>
       </nav>
     </header>

  <body>
    <%= yield %>
  </body>
</html>
